.mx-auto.w-full{:class => "md:w-2/3"}
  %h1.font-bold.text-4xl New user
  = render "form", user: @user, path: team_users_path(current_team)
  = link_to "Back to users", team_users_path(current_team), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
